[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-ccip"]
	path = lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
